<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uploading Images as Base 64 via File Reader</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- load icon font -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- load MUI -->
    <!-- "MUI is a lightweight CSS framework that follows Google's Material Design guidelines. It was designed from the ground up to be fast, small and developer friendly. The goal of the project is to provide a basic set of components and helper methods that developers can use to build sites that are fast and user-friendly."
    STYLING COMES FROM CDN.MUICSS.COM -->
    <link href="//cdn.muicss.com/mui-0.1.4/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <script src="//cdn.muicss.com/mui-0.1.4/js/mui.min.js"></script>
    <link rel="stylesheet" href="/main.css" charset="utf-8">
</head>
<body>

  <%=yield%>

</body>
</html>
